@charset "UTF-8";
/* 変数 */
/* mixin */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }

ul {
  list-style: none; }

img {
  vertical-align: bottom;
  max-width: 100%; }

a {
  text-decoration: none; }

/* utility */
.inner {
  max-width: 100%;
  width: 1100px;
  margin: 0 auto; }

.title {
  font-size: 6rem;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 8rem;
  position: relative;
  color: #333; }
  .title:after {
    content: '';
    width: 100px;
    border: 0px;
    border-bottom: solid 5px #3f51b5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

/* 各セクション */
/* header */
.header {
  position: sticky;
  top: 0;
  left: 0;
  background: #3f51b5;
  z-index: 2;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  /* 数値は順に「水平 垂直 ぼかし距離 広がり」を表す。色のあとに「 inset」をつけると、内側に影をつけられる。 */
  padding: 0 5%; }
  .header .header__box {
    height: 100px;
    display: flex;
    align-items: center; }
    .header .header__box .header__logo img {
      width: 200px; }
    .header .header__box .header__list {
      display: none; }

@media (min-width: 960px) {
  .header .header__box .header__list {
    display: flex;
    margin-left: auto; }
    .header .header__box .header__list li {
      margin-left: 3rem; }
      .header .header__box .header__list li a {
        color: #fff;
        position: relative; }
  .header__list--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: #e81919; } }

/* showcase */
.showcase {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen; }
  .showcase .showcase__title {
    font-size: 3.5rem;
    text-align: center;
    line-height: 2; }
  .showcase .showcase__txt {
    font-size: 2.5rem; }
  .showcase .showcase__btn {
    height: 83px;
    width: 90%;
    max-width: 395px;
    border-radius: 5px;
    color: #fff;
    background: #3f51b5;
    display: inline-block;
    text-align: center;
    line-height: 83px;
    font-size: 3rem;
    margin-top: 8rem; }

@media (min-width: 481px) {
  .showcase .showcase__title {
    font-size: 5rem; }
  .showcase .showcase__txt {
    font-size: 4rem; }
  .showcase .showcase__btn {
    font-size: 3.8rem; } }

@media (min-width: 960px) {
  .showcase .showcase__title {
    font-size: 6.8rem; }
  .showcase .showcase__txt {
    font-size: 3.8rem; } }

/* card */
.card {
  background: #efefef;
  padding: 8rem 5%; }
  .card .card__item {
    display: block; }
    .card .card__item .card__items {
      padding: 1.6rem;
      background: #fff;
      border-radius: .4rem;
      margin-bottom: 5%; }
      .card .card__item .card__items .card__items__photo {
        position: relative;
        padding-top: 61.8%; }
        .card .card__item .card__items .card__items__photo img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .card .card__item .card__items .card__items__txt {
        color: #333; }
        .card .card__item .card__items .card__items__txt h3 {
          font-size: 2rem;
          padding: 2.4rem 0; }

/* tb */
@media (min-width: 481px) {
  .card .card__item {
    display: flex;
    flex-wrap: wrap; }
    .card .card__item .card__items {
      margin: 0 5rem 5rem 0;
      width: calc(50% - 50px / 2); }
      .card .card__item .card__items:nth-child(2n) {
        margin-right: 0; } }

/* pc */
@media (min-width: 960px) {
  .card .card__item .card__items {
    margin: 0 3rem 3rem 0;
    width: calc(33.3333% - 60px / 3); }
    .card .card__item .card__items:nth-child(2n) {
      margin-right: 3rem; }
    .card .card__item .card__items:nth-child(3n) {
      margin-right: 0; } }

.news {
  padding: 8rem 5%; }
  .news .news__list {
    width: 100%;
    margin: 0 auto; }
    .news .news__list__info {
      display: block;
      padding: 1.6rem 0;
      border-bottom: 1px solid #000; }
      .news .news__list__info .news__list__label, .news .news__list__info .news__list__data {
        white-space: nowrap; }
      .news .news__list__info .news__list__label {
        padding: 1rem 0; }

/* tb */
/* pc */
@media (min-width: 960px) {
  .news .news__list {
    width: 838px; }
    .news .news__list__info {
      display: flex;
      align-items: center;
      padding: 1.6rem 0; }
      .news .news__list__info .news__list__label {
        padding: 0.8rem 1.8rem;
        border-radius: 6px;
        margin: 0 3rem;
        background-color: #666;
        color: #fff; } }
